@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  background-color: #3498db;
  width: 10%;
  height: 4px;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  background-color: #3498db;
  width: 10%;
  height: 4px;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 3px solid #e0e0e0e0;
  transition: 0.4s ease;
}
